<<<<<<< HEAD
.sidebar_ {

    margin-top: 20%;
    position:fixed;
    margin-block-end: 2%
   
}
.sidebar_content{
    color: #4e4e4e;
    position:fixed;
    border-color:#4e4e4e;
    background-color:white;
    width: 30%;
    margin-left: 0%;
    margin-bottom: -10px;
   display:block;
}
.sidebar_button_x{

    background: white;
    color:#4e4e4e;
    direction: rtl;
}

.btn.btn-primary{
    position: fixed;
    background-color: white;
    border-color:white;
    background: white;
    color:#4e4e4e;
    
}
=======
.sidebar_content{
    color:white;
    background-color:gray;
    width: 30%;
    margin-left: 0%;
margin-bottom: -10px;
   display:block;
}

.btn.btn-primary {
    background:gray;
    border-color:gray;
    color: #fff;
}
.fas.fa-time {
color:white;}
#button_x{
    
    background-color: gray;
    border: 0ch;
    color:white;
    // float: right;
    direction:rtl;

}

>>>>>>> 24fdec618fe0ee51dfa571c1134b70bafd86fc7d
