.sidebar_ {

    margin-top: 20%;
    position:fixed;
    margin-block-end: 2%
   
}
.sidebar_content{
    color: #4e4e4e;
    position:fixed;
    border-color:#4e4e4e;
    background-color:white;
    width: 30%;
    margin-left: 0%;
    margin-bottom: -10px;
   display:block;
}
.sidebar_button_x{

    background: white;
    color:#4e4e4e;
    direction: rtl;
}

.btn.btn-primary{
    position: fixed;
    background-color: white;
    border-color:white;
    background: white;
    color:#4e4e4e;
    
}