.sidebar_ {

    margin-top: 20%;
    position:fixed;
    margin-block-end: 2%
   
}
.sidebar_content{
    display: felx;
    color: #4e4e4e;
    // position:fixed;
    border-color:#4e4e4e;
    background-color:white;
    width: auto;
    margin-left: 0%;
    margin-bottom: -10px;

}

.btn.btn-lg{

    background-color: white;
    border-color:white;
    background: white;
    color:#4e4e4e;
    // flex-direction: column;

}

.sidebar_button_x{

   direction: rtl;}

.btn.btn-primary{
    position: fixed;
    background-color: white;
    border-color:white;
    background: white;
    color:#4e4e4e;
    
}

    .menu-item
    {
        display: flex;
        justify-content: space-between;
    }


    .accordion .accordion-header {
    width: 30%;
}

.accordion-header-basic{
    display: flex;
    justify-content: space-between;
}
.general-eye{
    margin-left: 20px;
    display: flex;
    justify-content: space-between;
margin-bottom: -20px;
}

.far.fa-eye{
    margin-right: 4%;
    padding-top: 7px;
}
  