@import "../../../../assets/constants.scss";
#header {
    // line-height: 40px;
    justify-content: space-between;
    color: white;
    background: black; // height: 2.5rem;
    img {
        max-height: 2.5rem;
    }
}

.proposition {
    border: 2px solid $primary; // line-height: 3rem;
    span {
        display: inline-block;
        vertical-align: middle;
    }
    display: inline-block;
}

.word {
    border: 2px solid brown;
}

.no-grow {
    flex-grow: inherit;
}

.login {
    justify-self: flex-end;
}

.login {}

.popover.popover-bottom .popover-container {
    left: -100px;
    top: 140%;
}

.triangle {
    background: transparent;
}

.transparent-bg {
    background: transparent;
}

.white-bg {
    background: white;
}

.color-black {
    color: black;
}

.menu {
    box-shadow: none;
    padding: 0;
    margin: 0;
}

.card {
    padding: 0;
    margin: 0;
    .card-body{
      padding-top: 0;
    }
}

.login-entry {
    $fbColor: rgb(14, 31, 91);
    $lightFBColor: rgb(59, 89, 152);
    color: $fbColor;
    a {
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        background: $primaryDark;
        color: white;
    }
    a:hover {
        color: white;
        background: $primary;
    }
}


