<div class="pt-2 pb-2 " id="header">
  <div class="pr-4 pl-4 columns ">
    <div class="column no-grow">
      <div class="table">
        <div class="cell-wrapper">

          <img class="img-fit-contain img-fluid" src="../../../../assets/img/gray_book.png" alt="">
        </div>
      </div>
    </div>
    <div class="col-mx-auto">
      <div class="table">
        <div class="cell-wrapper">

          <div class="proposition">
            <h3 class="mb-0 pb-1 pt-1 pl-1 pr-1"> <span class="mr-1"> Segmentation of old </span> <span class="word"> writings </span> </h3>
          </div>
        </div>
      </div>
    </div>
    <div class="column  no-grow">
      <div class="table">
        <div class="cell-wrapper">
          
          <button type='button' class="btn btn-primary right "> Login </button>
        </div>
      </div>
    </div>
  </div>
</div>

