@import "../../../../assets/constants.scss";

.arrow {
    color: rgb(78, 78, 78);
    font-size: 5rem;
    &:hover{
      color: $primary;
    }
}

$border: 2px solid gray;
.line {
    overflow-y: hidden;
    overflow-x: auto;

    height: 4rem;
    margin-bottom: 1rem;
    display: block;
    position: relative; // border-bottom: $border;
    // border-top: $border;
    .border {
        left: 0;
        border-top: $border;
        width: 95%;
        height: 0;
        position: absolute;
        left: 2.5%;
        &.upper {
            top: 0;
        }
        &.lower {
            top: calc("100% - 2px");
            bottom: 0;
        }
    }
}

.wrapper {
    height: 6.25rem;
}

.image-container {
    height: 100%;
    background: gray;
    box-sizing: content-box;
    border: 1px solid black;
    .selected {
        border: 1px solid white;
    }
}

.full-height {
    height: 100%;
}

.color-white {
    color: white;
}

.d-inline-block {
    display: inline-block;
}

.relative-center {
    position: relative;
    top: 50%;
    height: 100%;
    width: 100%;
}

.absolute-center {
    position: absolute;
    top: -42%;
    width: 100%;
}

.miniature {
    cursor: pointer;
    $border: 4px solid white;
    box-sizing: border-box;
    border-left: $border;
    border-right: $border;

    &:hover, &.selected {
        border-color: $primaryDark;
    }
}


.full-image{
  width: 100%;
  box-sizing: border-box;
}
