@import "../../../../assets/constants.scss";
$contourColor: rgb(39, 39, 39);
.hint-text {
    // bottom: 15%;
    width: 100%;
    text-shadow: -1px 0 $contourColor, 0 1px $contourColor, 1px 0 $contourColor, 0 -1px $contourColor;
    color: rgb(187, 187, 187);
}

::host {
    display: block;
    width: 100%;
}

label {
    width: 100%;
}

.img-responsive {
    width: 100%;
}

.p-relative{
  max-height: 50vw;
  img{
    max-height: 50vw;
  }
}
