.line-rectangle {
    position: absolute;
    border:2px rgb(245, 221, 0) solid;
    background: transparent;
    // background: rgba(228, 0, 0, 0.582);
    box-sizing: border-box;
}

.full-size {
    width: 100%;
    height: 100%;
}

.data-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}

.relative {
    position: relative;
}

.block-rectangle {
    @extend .line-rectangle;
    border: 4px blue solid;
    background: none;
}

.footnote-rectangle {
    @extend .line-rectangle;
    border: 2.5px magenta solid;
    background: rgba(173, 0, 253, 0.600);
}

.header-rectangle {
    @extend .line-rectangle;
    border: 3px rgba(0, 87, 231, 1) solid;
    background: rgba(0, 87, 231, 0.4);
}

.full-size-image {
    width: 100%;
}

.line-paragraph {
    @extend .line-rectangle;
    background: rgba(orange, 0.2);
    border: red 2.5px solid; // box-sizing: content-box;
}

.word-rectangle {
    @extend .line-rectangle;
    background: rgba(blue, 0.2);
    border: none;
}

.sidenote-rectangle {
    @extend .line-rectangle;
    border-color: rgb(0, 245, 0);
    background: rgba(0, 245, 0, 0.192);
}
