.line-rectangle {
    position: absolute;
    border: 1.5px yellow solid;
    background: rgba(228, 0, 0, 0.582);
    box-sizing: border-box;
}

.full-size {
    width: 100%;
    height: 100%;
}

.data-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
}

.relative {
    position: relative;
}

.block-rectangle {
    @extend .line-rectangle;
    border: 3px blue solid;
    background: none;
}

.footnote-rectangle {
    @extend .line-rectangle;
    border: 3px magenta solid;
    background: rgba(173, 0, 253, 0.600);
}

.full-size-image {
    width: 100%;
}

.line-paragraph {
    @extend .line-rectangle;
    background: rgba(orange, 0.2);
    border: red 4px solid;
    // box-sizing: content-box;
}
