


<div class="relative">
  <div class="p-absolute data-layer full-size " *ngIf="calculatedData && sourceHeight && sourceWidth">
    <div class="relative full-size ">


      <div class="footnote-rectangle"
      *ngIf = "footnote && calculatedData.allVisible && calculatedData.footnoteVisible"
      [style.width.%]="footnote.width"
      [style.height.%]="footnote.height"
      [style.top.%]="footnote.top "
      [style.left.%]="footnote.left"
      >
      </div>
      <div class="header-rectangle"
      *ngIf = "header && calculatedData.allVisible && calculatedData.headerVisible"
      [style.width.%]="header.width"
      [style.height.%]="header.height"
      [style.top.%]="header.top "
      [style.left.%]="header.left"
      >
      </div>

      <div class="sidenote-rectangle"
      *ngFor="let rectangle of sidenotes"

      [class.hide]="!rectangle.visible || !calculatedData.allVisible || !calculatedData.sidenotesVisible"
      [style.width.%]="rectangle.width"
      [style.height.%]="rectangle.height"
      [style.top.%]="rectangle.top"
      [style.left.%]="rectangle.left">
      </div>


      <div class="block-rectangle"
      *ngFor = "let rectangle of blocks"
      [class.hide]="!rectangle.visible || !calculatedData.allVisible || !calculatedData.blocksVisible"
      [style.width.%]="rectangle.width"
      [style.height.%]="rectangle.height"
      [style.top.%]="rectangle.top"
      [style.left.%]="rectangle.left"

      >
    </div>



    <div class="line-paragraph"
    *ngFor="let rectangle of paragraphs"
    [class.hide]="!rectangle.visible || !calculatedData.allVisible || !calculatedData.paragraphsVisible"
    [style.width.%]="rectangle.width"
      [style.height.%]="rectangle.height"
      [style.top.%]="rectangle.top "
      [style.left.%]="rectangle.left">
    </div>

    <div
    class="line-rectangle"
    *ngFor="let rectangle of lines"
    [class.hide]="!rectangle.visible || !calculatedData.allVisible || !calculatedData.linesVisible"
    [style.width.%]="rectangle.width"
    [style.height.%]="rectangle.height"
      [style.top.%]="rectangle.top "
      [style.left.%]="rectangle.left">
    </div>
    <div
      class="word-rectangle"
      *ngFor="let rectangle of words"
      [class.hide]="!rectangle.visible || !calculatedData.allVisible || !calculatedData.wordsVisible"
      [style.width.%]="rectangle.width"
      [style.height.%]="rectangle.height"
      [style.top.%]="rectangle.top "
      [style.left.%]="rectangle.left">
    </div>
  </div>
</div>

  <img (load)="onImageLoad($event)" #displayedImage [src]="image" class="col-12">
</div>
